.gaja
(
    margin: 40px 0;m
)

.gojo
(
    text-align:center;
    color:#04AA6D;
    font-size:32px;
)

.cuan
(
    text-align:center;font-size:18px;
)

.molui
(
    padding:80px 0px;width:100%;background-color:#282A35;color:white; margin: 16px 0;
)

.bujang
(
    float:left;width:50%;text-align:center;
)

.lava
(
    font-size:100px;
)

.ching
(
    font-size:20px;margin-bottom:30px;
)

.cheng
(
    border:none;padding:8px 16px;overflow:hidden;text-decoration:none;text-align:center;cursor:pointer;white-space:nowrap;background-color:#04AA6D;color:white;font-size:18px;margin:auto;
            display:block;width:200px;border-radius:25px;font-weight:700;margin-bottom: 20px;
)

.hanji
(
    border:none;padding:8px 16px;overflow:hidden;text-decoration:none;text-align:center;cursor:pointer;white-space:nowrap;background-color:white;color:black;font-size:18px;margin:auto;
            display:block;width:200px;border-radius:25px;font-weight:700;
)

.kimi
(
    float:left;width:50%;text-align:center;
)

.nonawa
(
    width:450px;
)

.jujutsu
(
    padding:80px 0px;width:100%;background-color:#D9EEE1;color:black; margin: 16px 0;
)

.kaisen
(
    text-align: center;background-color:#282A35;color:white;padding: 40px 0;
)